body {
    font-family: Arial, sans-serif;
    background-color: #c0b6b9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   .container {
    text-align: center;
    background-color: #15a521;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #90aac5;
    color: rgb(223, 30, 30);
   }
   button:hover {
    background-color: #0056b3;
   }
   .hidden {
    display: none;
   }
   